a.sts {
  background-color: aquamarine;
  color: black;
  margin: 20px;
  display: inline-block;
  position: relative;
  left: 27rem;
  padding: 21px;
}

nav{
  background-color: cornsilk;
  margin-bottom: 24px;
}